apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  namespace: payment-app
  labels:
    app: mongo
    environment: dev
    managed-by: argocd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
        environment: dev
        managed-by: argocd
    spec:
      containers:
        - name: mongo
          image: mongo:6.0
          ports:
            - containerPort: 27017
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: mongo-usr
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: mongo-pwd
            - name: MONGO_INITDB_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: payment-app-config
                  key: MONGO_DB_NAME
          readinessProbe:
            exec:
              command:
                - mongosh
                - "--eval"
                - "db.adminCommand('ping')"
            initialDelaySeconds: 10
            periodSeconds: 10
