apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
  namespace: web-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
        - name: web-app
          image: nanajanashia/argocd-app:1.0
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: web-app-config
            - secretRef:
                name: web-app-secrets

