apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-web
  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-web
  template:
    metadata:
      labels:
        app: payment-web
    spec:
      containers:
      - name: payment-web
        image: nanajanashia/k8s-demo-app:v1.0
        ports:
        - containerPort: 3000
        env:
        - name: USER_NAME
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: mongo-user
        - name: USER_PWD
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: mongo-password
        - name: DB_URL
          valueFrom:
            configMapKeyRef:
              name: mongo-config
              key: DB_URL